site_name: 一个学习用平台
site_url: https://mydomain.org/mysite
repo_name: you-xia-xue/A-learning-forum-made-with-Mkdocs
repo_url: https://github.com/you-xia-xue/A-learning-forum-made-with-Mkdocsial
theme:
  language: zh
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.prune
    - navigation.top
    - search.suggest
  palette:
    
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom 
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
plugins:
  - search
  - tags
  - git-revision-date-localized:
      enable_creation_date: true
      type: datetime
      timezone: Asia/Shanghai
      locale: zh_CN
  - git-committers:
      repository: you-xia-xue/A-learning-forum-made-with-Mkdocs
      branch: master
extra_css:
  - stylesheets/extracolor.css