site_name: A-learning-forum-made-with-Mkdocs
site_url: https://mydomain.org/mysite
repo_name: you-xia-xue/A-learning-forum-made-with-Mkdocs
repo_url: https://github.com/you-xia-xue/A-learning-forum-made-with-Mkdocsial
theme:
  language: zh
  name: material
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.prune
    - navigation.top
    - search.suggest
  palette: 
 # Palette toggle for light mode
    - scheme: default
      primary: grey
      accent: indigo
      toggle:
        icon: material/brightness-7 
        name: 调整为暗色模式
        
        
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue grey
      accent: amber
      toggle:
        icon: material/brightness-4
        name: 调整为亮色模式
plugins:
  - search
  - tags
  - git-revision-date-localized:
      enable_creation_date: true
      type: datetime
      timezone: Asia/Shanghai
      locale: zh_CN
  - git-committers:
      repository: you-xia-xue/A-learning-forum-made-with-Mkdocs
      branch: master
    